# Secrets
k8s/**/secret.yaml
*.env

# Terraform
terraform/.terraform/
terraform/*.tfstate*
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/crash.log

# GitOps secrets
gitops/**/secret.yaml

# Python
__pycache__/
*.pyc

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
